*~
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
gdb.setup
gdbserver
*~.nib
local.properties
.settings/
.loadpath

/.gitignore~

!/bin/
/bin/*
!/bin/*.jar
/obj/
/doc/

src/org/freedesktop/*
gen/com/aupeo/gplayer/BuildConfig.java
gen/com/aupeo/gplayer/R.java
